<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div>
        <a href="/cms/ViewManageOrder">订单管理</a>
    </div>
    <div>
        <a href="/cms/ViewManageAccount">用户管理</a>
    </div>
    <div>
        <a href="/cms/ViewManageCategory">商品管理</a>
    </div>
</div>
<footer th:replace="common/anotherbottom"></footer>
</body>
</html>