<!--这里大 变 样-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bottom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font family -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:400,500,700&display=swap" rel="stylesheet">

    <!-- Libary -->
    <link rel="stylesheet" href="../vendors/owlcarousel/assets/owl.carouselv2.2.css">
    <link rel="stylesheet" href="../vendors/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/slick/slick.css">
    <link rel="stylesheet" href="../vendors/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <link rel="stylesheet" href="../vendors/rangeslider/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="../vendors/rangeslider/css/theme.scss.css">
    <link rel="stylesheet" href="../vendors/rangeslider/css/layout.min.css">

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../fonts/linearicons/style.css">
    <link rel="stylesheet" href="../fonts/linea/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
<!--    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>-->
</head>
<body>
<footer th:fragment="footer">
        <br><br><br><br><br><br>
        <div class="footer-wrapper-st2">
            <div class="footer-st2">
                <div class="footer-content-st2">
                    <div class="container">
                        <div class="row">
<!--                            <div class="col-12 col-md-12 col-lg-3 custom-col-pt col-xl-3">-->
<!--                                <div class="f-content-st2-logo">-->
<!--                                    <img src="../images/homepage2/logo-footer.jpg" alt="Logo">-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-12 col-md-12 col-lg-3 custom-col-pt col-xl-5 align-self-center">
                                <div class="f-content-st2 f-content-st2-address">
                                    <div class="flex-custom">
                                        <div class="st2-icon st2-address-icon">
                                            <span class="ti-home"></span>
                                        </div>
                                        <div class="flex-grow-1">
                    <span class="st2-address-text">
                      Address : Central South University
                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3 custom-col-pt col-xl-4 align-self-center">
                                <div class="f-content-st2 f-content-st2-email">
                                    <div class="flex-custom">
                  <span class="st2-icon st2-email-icon">
                    <i class="ti-email"></i>
                  </span>
                                        <div class="flex-grow-1">
                    <span class="st2-email-text">
                      Email: www.csu.edu.cn
                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-3 custom-col-pt col-xl-3 align-self-center">
                                <div class="f-content-st2 f-content-st2-phone">
                                    <div class="flex-custom">
                                        <div class="st2-icon st2-phone-icon">
                                            <span class="ti-mobile"></span>
                                        </div>
                                        <div class="flex-grow-1">
                    <span class="st2-phone-text">
                      Phone: 123 4567 8900
                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-info footer-info-st2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 cl-md-ipad-12 col-lg-6 col-xl-4 order-mobile-cp">
                                <div class="info-copyright">
                                    <span>Copyright © 2020 All Rights Reserved</span>
                                </div>
                            </div>
                            <div class="col-md-4 cl-md-ipad-12 col-lg-3 col-xl-4 order-mobile-pm">
                                <div class="info-payment tx-center">
                                    <span class="payment-text">Payment Options:</span>
                                    <img src="../images/homepage2/payment.jpg" alt="Payment">
                                </div>
                            </div>
                            <div class="col-md-4 cl-md-ipad-12 col-lg-3 col-xl-4 order-mobile-sc">
                                <div class="social-inner-st2 tx-center">
                                    <span class="social-text">Follow us:</span>
                                    <div class="socials-st2">
                                        <a href="" class="icon-social-st2">
                                            <i class="ti-facebook"></i>
                                        </a>
                                        <a href="" class="icon-social-st2">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                        <a href="" class="icon-social-st2">
                                            <i class="ti-pinterest"></i>
                                        </a>
                                        <a href="" class="icon-social-st2">
                                            <i class="ti-youtube"></i>
                                        </a>
                                        <a href="" class="icon-social-st2">
                                            <i class="ti-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../vendors/owlcarousel/owl.carouselv2.2.min.js"></script>
<script src="../vendors/slick/slick.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../vendors/rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>