<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<footer th:fragment="footer">
    <div id="Footer">

        <div id="PoweredBy">
            &nbsp<a href="www.csu.edu.cn">Central South University</a>
        </div>

        <div id="Banner">
            <!-- Banner Name -->
            <label th:if="(${session.account} != null) and (${session.authenticated})">
                <img th:if="${session.account.bannerOption}"
                     th:src="${#strings.arraySplit(session.account.bannerName,'&quot;')[1]}">
            </label>
        </div>

    </div>
</footer>
</body>
</html>