<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
    <header th:fragment="header">
        <div id="Header">

            <div id="Menu">
                <div id="MenuContent">
                    <a th:href="@{'/cart/viewCart?username=' + ${myAccount?.getUsername()}}"><img align="middle" name="img_cart" src="../images/cart.gif" alt=""/></a>
                    <img align="middle" src="../images/separator.gif" alt=""/>
                        <a th:if="${isLogin eq false}" href="/account/signon" name="checkIfSignon" id="signin">Sign In</a>
                        <a th:if="${isLogin eq true}" href="/account/signout">Sign Out</a>
                    <img th:if="${isLogin eq true}" align="middle" src="../images/separator.gif" alt=""/>
                    <a th:if="${isLogin eq true}" href="/account/editAccountForm">My Account</a>
                    <img align="middle" src="../images/separator.gif" alt=""/>
                    <a href="viewLog">Log</a>
                </div>
            </div>
            <div id="Logo">
                <div id="LogoContent">
                    <a href="/catalog/viewMain"><img src="../images/Logo.jpg" alt=""/></a>
                </div>
            </div>
            <div id="Search">
                <div id="SearchContent">
                    <form action="/catalog/searchProducts" method="post">
                        <input type="text" id="keyword" name="keyword" size="14" />
                        <script>
                            $("#keyword").autocomplete("getdata.jsp");
                        </script>
                        <input type="submit" name="searchProducts" value="Search" />
                    </form>
                </div>
            </div>

            <div id="QuickLinks">
                <a href="viewCategory?categoryId=FISH"><img src="../images/sm_fish.gif" alt=""/></a>
                <img src="../images/separator.gif" alt=""/>
                <a href="viewCategory?categoryId=DOGS"><img src="../images/sm_dogs.gif" alt=""/></a>
                <img src="../images/separator.gif" alt=""/>
                <a href="viewCategory?categoryId=REPTILES"><img src="../images/sm_reptiles.gif" alt=""/></a>
                <img src="../images/separator.gif" alt=""/>
                <a href="viewCategory?categoryId=CATS"><img src="../images/sm_cats.gif" alt=""/></a>
                <img src="../images/separator.gif" alt=""/>
                <a href="viewCategory?categoryId=BIRDS"><img src="../images/sm_birds.gif" alt=""/></a>
            </div>
        </div>
    </header>
</body>
</html>