<!--这里大 变 样-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font family -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:400,500,700&display=swap" rel="stylesheet">

    <!-- Libary -->
    <link rel="stylesheet" href="../vendors/owlcarousel/assets/owl.carouselv2.2.css">
    <link rel="stylesheet" href="../vendors/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendors/slick/slick.css">
    <link rel="stylesheet" href="../vendors/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/animate.min.css">
    <link rel="stylesheet" href="../vendors/rangeslider/css/ion.rangeSlider.min.css"/>
    <link rel="stylesheet" href="../vendors/rangeslider/css/theme.scss.css">
    <link rel="stylesheet" href="../vendors/rangeslider/css/layout.min.css">

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../fonts/linearicons/style.css">
    <link rel="stylesheet" href="../fonts/linea/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
<!--    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>-->
</head>
<body>
<!-- Header -->
<header>
    <!-- Top header -->
    <div class="header-topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="st2-info-header">
                        <ul class="st2-info-header-list">
                            <li class="st2-info-li st2-info-phone">
                                <span>P: (+00) 123 567990</span>
                            </li>
                            <li class="st2-info-li st2-info-email">
                                <span>E: WWW.csu.edu.cn</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="st2-info-myacount">
                        <ul class="st2-myacount-list">
                            <li class="st2-myacount-li st2-myacount"><a class="st2-myacount-link" href="">Copyright © 2020 All Rights Reserved</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header bottom -->
    <div class="header-bottom">
        <div class="header-bottom-st2-wrapper">
            <div class="header-bottom-st2-inner">
                <div class="container">
                    <div class="row js-compare">
                        <div class="col-lg-3 st2-col-lapt-3 col-md-3 col-3">
                            <div class="st2-header-logo">
                                <img src="../images/homepage2/logo-footer.jpg" alt="Logo">
                            </div>
                        </div>
                        <div class="col-lg-6 hide-reponsive js-dad">
                            <!-- Menu -->
                            <div class="st2-hamadryad-menu">
                                <nav>
                                    <ul class="st2-menu-primary">
                                        <li class="st2-li-primary">
                                            <a href="/catalog/viewMain?isEnter=1" class="st2-item-link">Home</a>
                                        </li>
                                        <li class="st2-li-primary">
                                            <a class="st2-item-link" href="List_ShopPageFullWidth.html">Shop</a>
                                            <!-- submenu home -->
                                            <div class="st2-hamadryad-megamenu megamenu-home js-dropmenu megamenu-bg-active1">
                                                <section class="st2-hamadryad-megamenu-modal home">
                                                    <div class="container-fluid">
                                                        <div class="st2-hamadryad-submenu-wrapper">
                                                            <div class="row">
                                                                <div class="st2-submenu-banner">
                                                                    <img src="../images/menu1.jpg" alt="Banner">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="st2-submenu-list-item">
                                                                        <h2 class="st2-submenu-item-title">Shop</h2>
                                                                        <ul class="st2-submenu-item-ul">
                                                                            <li class="st2-submenu-item-li">
                                                                                <a class="st2-submenu-item-link" href="List_ShopPageFullWidth.html">Shop Fullwidth</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a class="st2-submenu-item-link" href="List_Shop_Sidebar-Left.html">Shop Sidebar Left</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="st2-submenu-list-item">
                                                                        <h2 class="st2-submenu-item-title">Product Details</h2>
                                                                        <ul class="st2-submenu-item-ul">
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="ProductDetail_v1.html" class="st2-submenu-item-link">Product detail v1</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="ProductDetail_v2.html" class="st2-submenu-item-link">Product detail v2</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="ProductDetail_v3.html" class="st2-submenu-item-link">Product detail v3</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="ProductDetail_v4.html" class="st2-submenu-item-link">Product detail v4</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="st2-submenu-list-item">
                                                                        <h2 class="st2-submenu-item-title">Pages</h2>
                                                                        <ul class="st2-submenu-item-ul">
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="Hover&Active-v2.html" class="st2-submenu-item-link">Hover&Active v2</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="Popup.html" class="st2-submenu-item-link">Popup</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="ContactUs.html" class="st2-submenu-item-link">Contact us</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="st2-submenu-list-item">
                                                                        <h2 class="st2-submenu-item-title">Table Tree Plant</h2>
                                                                        <ul class="st2-submenu-item-ul">
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="" class="st2-submenu-item-link">New Arrivals</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="" class="st2-submenu-item-link">Best Product</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="" class="st2-submenu-item-link">Deal Of The Week</a>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="" class="st2-submenu-item-link">Top Rated</a>
                                                                                <span class="st2-submenu-icon lnr lnr-chevron-right"></span>
                                                                            </li>
                                                                            <li class="st2-submenu-item-li">
                                                                                <a href="" class="st2-submenu-item-link">Our Product</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <!-- end submenu home -->
                                        </li>
                                        <li class="st2-li-primary" th:if="${isLogin eq false}" id="signin">
                                            <a class="st2-item-link" href="/account/signon" >Sign In</a>
                                        </li>
                                        <li class="st2-li-primary" th:if="${isLogin eq true}" id="signout">
                                            <a class="st2-item-link" href="/account/signout" >Sign Out</a>
                                        </li>
                                        <li class="st2-li-primary" th:if="${isLogin eq true}" id="myaccount">
                                            <a class="st2-item-link" href="/account/editAccountForm" >My Account</a>
                                        </li>
                                        <li class="st2-li-primary"><a class="st2-item-link" href="/cms/viewMain">CMS</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 st2-col-lapt-9 col-md-9 col-9">
                            <div class="st2-control-right">
                                <div class="st2-control">
                                    <!-- search mobie -->
                                    <div class="search-mobie" data-toggle="collapse" data-target="#showSearch">
                                        <span class="lnr lnr-magnifier"></span>
                                    </div>
                                    <!-- search -->
                                    <div class="st2-search-box st2-control-block hide-reponsive">
                                        <div class="st2-search-block">
                                            <form class="st2-search-form" action="/catalog/searchProducts" method="post">
                                                <div class="at2-search-fields">
                                                        <div class="st2-search-input">
                                                                <input type="text" class="st2-search-field" id="keyword" name="keyword" placeholder="Search ...">
                                                                <script>
                                                                    $("#keyword").autocomplete("getdata.jsp");
                                                                </script>
                                                            <button type="submit" class="st2-search-submit" name="searchProducts"><span class="lnr lnr-magnifier"></span></button>

                                                            <!--<input type="search"  placeholder="Search ..." value="" name="s">-->
<!--                                                                    <script>-->
<!--                                                                        $("#keyword").autocomplete("getdata.jsp");-->
<!--                                                                    </script>-->
<!--                                                                <button type="submit" class="st2-search-submit">-->
<!--                                                                    <span class="lnr lnr-magnifier"></span>-->
<!--                                                                </button>-->
                                                        </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- cart -->
                                    <div class="st2-cart-block st2-control-block js-click-cart">
                                        <div class="st2-cart-icon">
                                            <span class="icon-ecommerce-basket"></span>
                                            <span class="st2-cart-number">2</span>
                                        </div>
                                    </div>
                                    <!-- mega menu -->
                                    <div class="st2-megamenu-block st2-control-block js-click-megamenu">
                                        <div class="st2-megamenu-icon">
                                            <span class="lnr lnr-menu"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Form search -->
                        <form method="get" class="search-form collapse" action="/search" id="showSearch">
                            <div class="search-fields">
                                <div class="search-input">
                                    <span class="reset-instant-search-wrap"></span>
                                    <input type="search" class="search-field" placeholder="Instant search ..." value="" name="s">
                                    <button type="submit" class="search-submit">
                                        <span class="lnr lnr-magnifier"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- End Form search -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mini cart -->
    <div class="hamadryad-minicart">
        <div class="hamadryad-minicart-content">
            <h3 class="hamadryad-minicart-title">Your cart</h3>
            <span class="hamadryad-minicart-number">2</span>
            <div class="hamadryad-minicart-close">
                <i class="lnr lnr-cross"></i>
            </div>
            <div class="hamadryad-minicart-list-item">
                <div class="list-item">
                    <ol class="hamadryad-minicart-items">
                        <li class="product-cart">
                            <a href="" class="product-cart-thumb"><img src="../images/products/product-1.jpg" alt=""></a>
                            <div class="product-detail">
                                <div class="product-name"><a href="">Candle Bowl </a></div>
                                <div class="product-detail-info">
                                    <div class="product-quality">QTY : 1</div>
                                    <div class="product-cost">$169.00</div>
                                </div>
                            </div>
                            <div class="product-remove">
                                <a href=""><i class="lnr lnr-cross"></i></a>
                            </div>
                        </li>
                        <li class="product-cart">
                            <a href="" class="product-cart-thumb"><img src="../images/products/product-2.jpg" alt=""></a>
                            <div class="product-detail">
                                <div class="product-name"><a href="">Candle Bowl </a></div>
                                <div class="product-detail-info">
                                    <div class="product-quality">QTY : 1</div>
                                    <div class="product-cost">$169.00</div>
                                </div>
                            </div>
                            <div class="product-remove">
                                <a href=""><i class="lnr lnr-cross"></i></a>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="subtotal">
                <span class="total-title">Total:</span>
                <span class="total-price">$190.00</span>
            </div>
            <div class="hamadryad-minicart-action">
                <div class="btn-action-minicart viewcart">
                    <a th:href="@{'/cart/viewCart?username=' + ${myAccount?.getUsername()}}">Viewcart</a></div>
                <div class="btn-action-minicart checkout">Checkout</div>
            </div>
        </div>
    </div>
    <div class="minicart-bg-overlay" style="display: none;"></div>

    <!-- Menu mobie -->
    <div class="box-mobile-menu">
        <span class="box-title">Menu</span>
        <a href="#" class="close-menu" id="pull-closemenu">
            <i class="lnr lnr-cross"></i>
        </a>
        <div class="menu-clone">
            <ul class="main-menu">
                <li class="menu-item menu-item-has-children">
                    <a href="Homepage01.html">Home</a>
                    <span class="toggle-submenu"></span>
                    <div class="submenu">
                        <div class="col-12 col-md-12 custom-col">
                            <div class="col-inner">
                                <div class="col-wrapper-item">
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="Homepage01.html">Homepage v1</a></li>
                                        <li class="style-item"><a class="afont200" href="Homepage02.html">Homepage v2</a></li>
                                        <li class="style-item"><a class="afont200" href="Homepage03.html">Homepage v3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="List_ShopPageFullWidth.html">Shop</a>
                    <span class="toggle-submenu"></span>
                    <div class="submenu">
                        <div class="col-12 col-md-12 custom-col">
                            <div class="col-inner">
                                <div class="col-wrapper-item">
                                    <h2 class="widget-title">Shop</h2>
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="List_ShopPageFullWidth.html">Shop Fullwidth</a></li>
                                        <li class="style-item"><a class="afont200" href="List_Shop_Sidebar-Left.html">Shop Sidebar Left</a></li>
                                    </ul>
                                </div>
                                <div class="col-wrapper-item">
                                    <h2 class="widget-title">Product Details</h2>
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="ProductDetail_v1.html">Product detail v1</a></li>
                                        <li class="style-item"><a class="afont200" href="ProductDetail_v2.html">Product detail v2</a></li>
                                        <li class="style-item"><a class="afont200" href="ProductDetail_v3.html">Product detail v3</a></li>
                                        <li class="style-item"><a class="afont200" href="ProductDetail_v4.html">Product detail v4</a></li>
                                    </ul>
                                </div>
                                <div class="col-wrapper-item">
                                    <h2 class="widget-title">Pages</h2>
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="Hover&Active-v2.html">Hover&Active v2</a></li>
                                        <li class="style-item"><a class="afont200" href="Popup.html">Popup</a></li>
                                        <li class="style-item"><a class="afont200" href="ContactUs.html">Contact us</a></li>
                                    </ul>
                                </div>
                                <div class="col-wrapper-item">
                                    <h2 class="widget-title">Table Tree Plant</h2>
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="">New Arrivals</a></li>
                                        <li class="style-item"><a class="afont200" href="">Best Product</a></li>
                                        <li class="style-item"><a class="afont200" href="">Deal Of The Week</a></li>
                                        <li class="style-item"><a class="afont200" href="">Top Rated</a></li>
                                        <li class="style-item"><a class="afont200" href="">Our Product</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-has-children"><a href="">Features</a></li>
                <li class="menu-item menu-item-has-children"><a href="">Portfolio</a></li>
                <li class="menu-item menu-item-has-children">
                    <a href="Blog&New_v1.html">Blog</a>
                    <span class="toggle-submenu"></span>
                    <div class="submenu">
                        <div class="col-12 col-md-12 custom-col">
                            <div class="col-inner">
                                <div class="col-wrapper-item">
                                    <ul class="menu-shop-style">
                                        <li class="style-item"><a class="afont200" href="Blog&New_v1.html">Blog & New 1</a></li>
                                        <li class="style-item"><a class="afont200" href="Blog&New_v2.html">Blog & New 1</a></li>
                                        <li class="style-item"><a class="afont200" href="Blog&NewPost.html">Blog & New Post</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-has-children"><a href="AboutUs.html">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="menu-overlay"></div>
</header>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../vendors/owlcarousel/owl.carouselv2.2.min.js"></script>
<script src="../vendors/slick/slick.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../vendors/rangeslider/js/ion.rangeSlider.min.js"></script>
<script src="../js/custom.js"></script>
<!--    <header th:fragment="header">-->
<!--        <div id="Header">-->

<!--            <div id="Menu">-->
<!--                <div id="MenuContent">-->
<!--                    <a th:href="@{'/cart/viewCart?username=' + ${myAccount?.getUsername()}}"><img align="middle" name="img_cart" src="../images/cart.gif" alt=""/></a>-->
<!--                    <img align="middle" src="../images/separator.gif" alt=""/>-->
<!--                        <a th:if="${isLogin eq false}" href="/account/signon" name="checkIfSignon" id="signin">Sign In</a>-->
<!--                        <a th:if="${isLogin eq true}" href="/account/signout">Sign Out</a>-->
<!--                    <img th:if="${isLogin eq true}" align="middle" src="../images/separator.gif" alt=""/>-->
<!--                    <a th:if="${isLogin eq true}" href="/account/editAccountForm">My Account</a>-->
<!--                    <img align="middle" src="../images/separator.gif" alt=""/>-->
<!--                    <a href="viewLog">Log</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="Logo">-->
<!--                <div id="LogoContent">-->
<!--                    <a href="/catalog/viewMain"><img src="../images/Logo.jpg" alt=""/></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="Search">-->
<!--                <div id="SearchContent">-->
<!--                    <form action="/catalog/searchProducts" method="post">-->
<!--                        <input type="text" id="keyword" name="keyword" size="14" />-->
<!--                        <script>-->
<!--                            $("#keyword").autocomplete("getdata.jsp");-->
<!--                        </script>-->
<!--                        <input type="submit" name="searchProducts" value="Search" />-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="QuickLinks">-->
<!--                <a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/sm_fish.gif" alt=""/></a>-->
<!--                <img src="../images/separator.gif" alt=""/>-->
<!--                <a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/sm_dogs.gif" alt=""/></a>-->
<!--                <img src="../images/separator.gif" alt=""/>-->
<!--                <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/sm_reptiles.gif" alt=""/></a>-->
<!--                <img src="../images/separator.gif" alt=""/>-->
<!--                <a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/sm_cats.gif" alt=""/></a>-->
<!--                <img src="../images/separator.gif" alt=""/>-->
<!--                <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/sm_birds.gif" alt=""/></a>-->
<!--            </div>-->

<!--        </div>-->
<!--    </header>-->
</body>
</html>