<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2>Order Manager</h2>
            <table>
                <tr>
                    <th><b>Order ID</b></th>
                    <th><b>Order Date</b></th>
                    <th><b>shipAddress1</b></th>
                    <th><b>shipAddress2</b></th>
                    <th><b>shipCity</b></th>
                    <th><b>billAddress1</b></th>
                    <th><b>billAddress2</b></th>
                    <th><b>billCity</b></th>
                    <th><b>totalPrice</b></th>
                    <th><b></b></th>
                    <th><b></b></th>
                </tr>
                <tr th:if="${orderList.size() == 0}">
                    <td colspan="8"><b>Your orders is empty.</b></td>
                </tr>

                <tr th:each="order:${orderList}">
                    <td th:text="${order.getOrderId()}"></td>
                    <td th:text="${order.getOrderDate()}"></td>
                    <td th:text="${order.getShipAddress1()}"></td>
                    <td th:text="${order.getShipAddress2()}"></td>
                    <td th:text="${order.getShipCity()}"></td>
                    <td th:text="${order.getBillAddress1()}"></td>
                    <td th:text="${order.getBillAddress2()}"></td>
                    <td th:text="${order.getBillCity()}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                    <td>
                        <a class="Button" th:href="'/order/viewUpdateOrder?userName='+ ${myAccount?.getUsername()} + '&orderId=' + ${order.getOrderId()}">Update</a>
                    </td>
                    <td>
                        <a class="Button" th:href="'/order/deleteOrder' + '?orderId=' + ${order.getOrderId()} + '&userName='+ ${myAccount?.getUsername()}">Remove</a>
                    </td>
                </tr>
            </table>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>