<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top"></div>
<div id="Content">
    <table id="table-3">
        <h2 style="text-align: center">My Orders</h2>
        <tr>
            <td>Order ID</td>
            <td>Date</td>
            <td>Total Price</td>
        </tr>
        <tr th:each="order:${orderList}">
            <td><a th:href="@{'/cart/viewOrder?orderId=' + ${order.getOrderId()} + '&username='}" name="orderId" th:text="${order.getOrderId()}"></a></td>
            <td th:text="${order.getOrderDate().getYear() + 1900 + '/' + (order.getOrderDate().getMonth() + 1) + '/' + order.getOrderDate().getDate()}"></td>
            <td th:text="${order.getTotalPrice()}"></td>
        </tr>
    </table>
</div>
<div th:replace="common/bottom"></div>
</body>
</html>