<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SelectDaily</title>
    <!-- Font family -->

    <link rel="stylesheet" href="/css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div th:replace="common/top"></div>
    <div id="Content">
    <div id="SelectDaily">
    <br/>
    <a th:href="'/daily/records/kind/browse/username/'+ ${myAccount.getUsername()}"><h4>My Browser Daily Record</h4></a>
    <br/>
    <a th:href="'/daily/records/kind/cart/username/'+ ${myAccount.getUsername()}"><h4>My Items Add To Cart Daily Record</h4></a>
    <br/>
    <a th:href="'/daily/records/kind/order/username/'+ ${myAccount.getUsername()}"><h4>My Order Daily Record</h4></a>
    <br/>
    <a th:href="'/daily/records/kind/all/username/'+ ${myAccount.getUsername()}"><h4>My Whole Daily Record</h4></a>
    </div>
</div>
<div th:replace="common/bottom"></div>
</body>
</html>