<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">

</div>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/viewMain">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2 th:text="${category.name}">Category的name属性</h2>

        <table>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
            </tr>

            <tr th:each="product:${productList}">
                <td><a th:href="@{/catalog/viewProduct?productId=}+${product.productId}" th:text="${product.productId}">Product
                    ID</a></td>
                <td th:text="${product.name}">Product Name</td>
            </tr>

        </table>

    </div>

    <div th:replace="common/bottom">

    </div>
</div>

</body>
</html>

</body>
</html>