<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mypetstore</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css">

</head>
<body>
<div id="Content">
    <div th:replace="common/top"></div>
    <div id="Welcome">
        <div id="WelcomeContent">
            <div th:switch="${myAccount ne null}">
                <span th:case="true" th:text="'Welcome to ' + ${myAccount?.getUsername()}"></span>
                <span th:case="false" th:text="'Welcome to MyPetStore'"></span>
            </div>
        </div>
    </div>
    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif" id="FISH+1" class="category"/></a>
                <br/> Saltwater, Freshwater <br/>
                <a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/dogs_icon.gif" id="CATS+1" class="category"/></a>
                <br /> Various Breeds <br />
                <a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/cats_icon.gif" id="DOGS+1" class="category"/></a>
                <br /> Various Breeds, Exotic Varieties <br />
                <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif" id="REPTILES+1" class="category"/></a>
                <br /> Lizards, Turtles, Snakes <br />
                <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif" id="BIRDS+1" class="category"/></a>
                <br /> Exotic Varieties
            </div>
        </div>

        <div id="MainImage">
            <div id="MainImageContent">
                <map name="estoremap">
                    <area alt="Birds" coords="72,2,280,250" href="/catalog/viewCategory?categoryId=BIRDS" shape="rect" id="BIRDS+2" class="category"/>
                    <area alt="Fish" coords="2,180,72,250" href="/catalog/viewCategory?categoryId=FISH" shape="rect" id="FISH+2" class="category" />
                    <area alt="Dogs" coords="60,250,130,320" href="/catalog/viewCategory?categoryId=DOGS" shape="rect" id="DOGS+2" class="category"/>
                    <area alt="Reptiles" coords="140,270,210,340" href="/catalog/viewCategory?categoryId=REPTILES" shape="rect" id="REPTILES+2" class="category"/>
                    <area alt="Cats" coords="225,240,295,310" href="/catalog/viewCategory?categoryId=CATS" shape="rect" id="CATS+2" class="category"/>
                    <area alt="Birds" coords="280,180,350,250" href="/catalog/viewCategory?categoryId=BIRDS" shape="rect" id="BIRDS+3" class="category"/>
                </map>
                <img height="355" src="../images/splash.gif" align="middle" usemap="#estoremap" width="350" />
            </div>
        </div>
        <div id="Separator">&nbsp;</div>
    </div>
</div>
    <div th:replace="common/bottom"></div>
</body>
<script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".category").hover(function (){
            //获取id
            var categoryIdList = this.id.split("+");
            var categoryId = categoryIdList[0];
            if(categoryIdList[1] == 1) {
                //获取相对坐标
                var axisTop = this.offsetTop;
                var axisLeft = this.offsetLeft;
            }
            else if(categoryIdList[1] > 1){
                var axis = getMapAreaBox(this);
                var axisTop = axis.top;
                var axisLeft = axis.left;
            }
            var productInfo = "";
            $.ajax({
                type:"GET",
                url:"showMainImage",
                data:{categoryId:categ  oryId},
                success:function (data) {
                    var dataString = data.split(",");
                    productInfo = "<label id='productImageId' style='top:" + (axisTop - 20) + "px;left:" + (axisLeft + 20) + "px;position: absolute;" +
                        "background-color: white;width: 250px;border-color: #222222;font-size: small'>";
                    productInfo += "The " + categoryId + " category includes ";
                    for (var i = 0; i < dataString.length; i++) {
                        if (i == 0) productInfo += dataString[i];
                        else productInfo += "," + dataString[i];
                    }
                    productInfo += "</label>";
                    $("body").append(productInfo);
                    $("#productImageId").show();
                }
            })
        },function () {
            $("#productImageId").remove();
        })
    })
    var getMapAreaBox = function (area) {
        // parse
        var ret = { left: 0, top: 0, width: 0, height: 0 };
        var coords = area.coords.split(',');
        for (var len = coords.length, i = 0; i < len; i++) { coords[i] = parseInt(coords[i], 10); }
        // generate
        ret.left = Math.min(coords[0], coords[2]);
        ret.top = Math.min(coords[1], coords[3]);
        ret.width = Math.abs(coords[2] - coords[0]);
        ret.height = Math.abs(coords[3] - coords[1]);
        // fix
        var map = area.closest('map');
        if (map.length > 0) {
            var img = $('img[usemap~="#' + map.attr('name') + '"]');
            if (img.length === 0) { img = $('img[usemap~="#' + map.attr('id') + '"]'); }
            var pos = img.offset();
            if (pos) {
                ret.top += pos.top;
                ret.left += pos.left;
            }
        }
        ret.top += 200;
        ret.left += 450;
        // ret
        return ret;
    };
</script>
</html>