<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mypetstore</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css">

</head>
<body>
    <div th:replace="common/top"></div>
    <div id="Welcome">
        <div id="WelcomeContent">
            <c:choose>
                <c:when test="${sessionScope.myAccount != null}">
                    Welcome to ${sessionScope.myAccount.username}!
                </c:when>
                <c:otherwise>
                    Welcome to MyPetStore!
                </c:otherwise>
            </c:choose>
        </div>
    </div>

    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <a href="viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif" id="FISH+1" class="category"/></a>
                <br/> Saltwater, Freshwater <br/>
                <a href="viewCategory?categoryId=CATS"><img src="../images/dogs_icon.gif" id="CATS+1" class="category"/></a>
                <br /> Various Breeds <br />
                <a href="viewCategory?categoryId=DOGS"><img src="../images/cats_icon.gif" id="DOGS+1" class="category"/></a>
                <br /> Various Breeds, Exotic Varieties <br />
                <a href="viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif" id="REPTILES+1" class="category"/></a>
                <br /> Lizards, Turtles, Snakes <br />
                <a href="viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif" id="BIRDS+1" class="category"/></a>
                <br /> Exotic Varieties
            </div>
        </div>

        <div id="MainImage">
            <div id="MainImageContent">
                <map name="estoremap">
                    <area alt="Birds" coords="72,2,280,250" href="viewCategory?categoryId=BIRDS" shape="rect" id="BIRDS+2" class="category"/>
                    <area alt="Fish" coords="2,180,72,250" href="viewCategory?categoryId=FISH" shape="rect" id="FISH+2" class="category" />
                    <area alt="Dogs" coords="60,250,130,320" href="viewCategory?categoryId=DOGS" shape="rect" id="DOGS+2" class="category"/>
                    <area alt="Reptiles" coords="140,270,210,340" href="viewCategory?categoryId=REPTILES" shape="rect" id="REPTILES+2" class="category"/>
                    <area alt="Cats" coords="225,240,295,310" href="viewCategory?categoryId=CATS" shape="rect" id="CATS+2" class="category"/>
                    <area alt="Birds" coords="280,180,350,250" href="viewCategory?categoryId=BIRDS" shape="rect" id="BIRDS+3" class="category"/>
                </map>
                <img height="355" src="../images/splash.gif" align="middle" usemap="#estoremap" width="350" />
            </div>
        </div>
        <div id="Separator">&nbsp;</div>
    </div>
    <div th:replace="common/bottom"></div>
</body>
</html>