<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">

</div>


<div id="Content">
    <div id="BackLink">
        <a th:href="@{/catalog/viewCategory?categoryId=}+${product.categoryId}">
            Return to<label th:text="${product.categoryId}">Product Id</label>
        </a>
    </div>

    <div id="Catalog">

        <h2 th:text="${product.name}">Product的name属性</h2>

        <table id="table-3">
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Product ID</th>
                <th>Description</th>
                <th>List Price</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tr th:each="item:${itemList}">
                <!--这里重新设置了url，方便记录日志-->
                <td>
<!--                    <a th:if="${isLogin eq true}" th:href="@{'/catalog/viewItem?itemId=' + ${item.itemId} + '&userId=' + ${myAccount?.getUsername()}}" th:text="${item.itemId}">Item Id</a>-->
                    <!--这里用来判断是否登录，传回userId用来记日志，不要改-->
                    <a th:href="@{'/catalog/viewItem?userId=' + ${myAccount?.getUsername()} + '&itemId=' + ${item.itemId}}" th:text="${item.itemId}">Item Id</a>
                </td>
                <td th:text="${item.productId}">Product Id</td>
                <td th:text="${item.attribute1}">Item Attribute1</td>
                <td th:text="'$' + ${#numbers.formatDecimal(item.listPrice,1 ,2)}">Item List Price</td>
                <td><a th:href="@{'/cart/addItemToCart?userName=' + ${myAccount?.getUsername()} + '&itemId='+${item.itemId}+'&quantity=1'}">Add to
                    Cart</a></td>
            </tr>
        </table>

    </div>

    <div th:replace="common/bottom">

    </div>
</div>
</body>
</html>