<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <h2>Shopping Cart</h2>
        <p id="msgOfQuantity" align="center"></p>
        <form action="/cart/updateCartQuantities" method="post">
            <table>
                <!--id好像冲突了-->
<!--            <tr id="msgOfQuantity"></tr>-->
                <tr>
                    <th><b>Item ID</b></th>
                    <th><b>Product ID</b></th>
                    <th><b>Description</b></th>
                    <th><b>In Stock?</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>List Price</b></th>
                    <th><b>Total Cost</b></th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:if="${cart.numberOfItems == 0}">
                    <td colspan="8"><b>Your cart is empty.</b></td>
                </tr>

                <tr th:each="cartItem:${cart.itemList}">
                    <td>
                        <a th:href="'/catalog/viewItem?itemId='+${cartItem.getItem().getItemId()}"
                           th:text="${cartItem.getItem().getItemId()}"></a>
                    </td>
                    <td th:text="${cartItem.item.product.productId}"></td>
                    <td th:text="${cartItem.item.attribute1}+${cartItem.item.product.name}"></td>
                    <td th:text="${cartItem.inStock}"></td>
                    <td>
                        <input th:id="'inputQuantityOf'+ ${cartItem.item.itemId}" th:name="${cartItem.item.itemId}"
                               th:value="${cartItem.quantity}"
                               th:onchange="UpdateQuantity([[${cartItem.item.itemId}]],[[${myAccount?.getUsername()}]])"
                                th:onfocus="getPreQuantity([[${cartItem.item.itemId}]])"
                               />
                    </td>
                    <td th:id="'listPriceOf' + ${cartItem.item.itemId}"
                        th:text="'$'+${#numbers.formatDecimal(cartItem.item.listPrice,1,2)}"th:value="${cartItem.item.listPrice}"></td>
                    <td th:id="'totalPriceOf' + ${cartItem.item.itemId}"
                        th:text="'$'+${#numbers.formatDecimal(cartItem.total,1,2)}"></td>
                    <td>
                        <a class="Button" th:href="'/cart/deleteCartItem?userName='+ ${myAccount?.getUsername()} + '&itemId=' + ${cartItem.item.itemId}">Remove</a>
                    </td>
                </tr>

                <tr>
                    <td colspan="7">
                        <label th:id="subTotal" th:text="'Sub Total:$'+${#numbers.formatDecimal(cart.subTotal,1,2)}"></label>
                        <!--这块删掉-->
<!--                        <input type="submit" value="Update Cart">-->
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </form>

        <a class="Button" th:if="${cart.numberOfItems > 0}" href="/cart/newOrder">
            Proceed to Checkout
        </a>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            var preQuantity;
            function getPreQuantity(parameter1) {
                preQuantity = document.getElementById("inputQuantityOf" + parameter1).value;
                console.log(preQuantity)
            }
            function UpdateQuantity(parameter1, parameter2) {
                var inputQuantity = document.getElementById("inputQuantityOf" + parameter1).value;
                var msg = document.getElementById('msgOfQuantity');
                var listPrice = document.getElementById("listPriceOf" + parameter1).getAttribute("value");
                var total = document.getElementById("totalPriceOf" + parameter1);
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "get",
                    url: "/cart/changeInputQuantity?inputQuantity=" + inputQuantity + "&userName=" + parameter2 + "&itemName=" + parameter1 + "&preQuantity="+preQuantity,
                    success: function (result) {
                        if(result.split(" ").length == 1){
                            console.log("response:" + result)
                            var fmtNumber = null;
                            total.innerHTML = null;
                            total.innerText = "$" + (String)(listPrice * inputQuantity);
                            msg.innerText = 'Updating quantity successfully!';
                            var totalAll = document.getElementById("subTotal");
                            totalAll.innerHTML = null;
                            totalAll.innerText = "$" + result;
                        }
                        else if(result == null){
                            //不需要进行操作
                        }
                        else {
                            total.innerText = "0";
                            msg.innerText = result;
                        }
                    },
                    error: function (e) {
                        total.innerText = "0";
                        msg.innerText = 'Updating quantity failure...Please check your input';
                    }
                });
            }
        </script>
        <!-- TODO MyList -->

    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>