body {
    margin: 0ex 10ex 0ex 10ex;
    padding: 0ex;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    color: #333;
    background-color: #444;
}

pre {
    font-family: "Courier New", Courier, mono;
    font-style: normal;
background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: 700;
    color: #7b8b87;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

/*table {*/
/*  border-width: 0;*/
/*  empty-cells: show;*/
/*}*/

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

th {
    font-weight: bold;
    background-color: #e2e2e2;
}

a, a:visited, a:link {
    color: #039;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #69f;
}

a.Button, a.Button:link, a.Button:visited ,input.Button,input.Button:link,input.Button:visited{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover,input.Button:hover{
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33%;
    height: 15ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    /*background-color: #000;*/
    background-image: url("../images/top2.gif");
    background-size: cover;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
}

body>#Logo {
    height: 9ex;
}
#Menu {
    width: 33%;
    height: 15ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    /*background-color: #000;*/
    background-image: url("../images/top1.gif");
    background-size: cover;
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 15ex;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 9ex;
}

#Search {
    width: 33%;
    height: 15ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    /*background-color: #000;*/
    background-image: url("../images/top3.gif");
    background-size: cover;
    color: #eaac00;
    line-height: 15ex;
    voice-family: "\"}\"";
    voice-family: inherit;
}
#SearchOrders {
}

body>#Search {
    height: 9ex;
}

#Search input {
    width: 115px;
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    margin: 3px;
    border-color: #aaa;
    /*background-color: #666;*/
    color: #eaac00;
}

#QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 99%;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    /*border-color: #ccc;*/
    background-image: url("../images/bottom.gif");
    background-size: cover;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 69%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    /*border-color: #ccc;*/
    background-image: url("../images/bottom.gif");
    background-size: cover;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Banner {
    height: 9ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 50%;
}

#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
    border-width: 0;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    background-color:#ccc;
    text-align:left;
}
#SelectDaily a{
    text-align:center;
}
/*.okmsg*/
/*{*/
/*    color:green;*/
/*}*/
/*.errormsg*/
/*{*/
/*    color:red;*/
/*}*/
.showRemains{
    display: none;
    width:90%;
    border: 1px solid pink;
}

/*table*/
/*{*/
/*  !*margin-left:auto;*!*/
/*  !*margin-right:auto;*!*/
/*  border-width: 0;*/
/*  empty-cells: show;*/
/*  border-collapse: collapse;*/
/*  margin: 0 auto;*/
/*  text-align: center;*/
/*}*/
/*table td, table th*/
/*{*/
/*  border: 1px solid #cad9ea;*/
/*  color: #566;*/
/*  height: 30px;*/
/*}*/
/*table thead th*/
/*{*/
/*  background-color: #CCE8EB;*/
/*  width: 100px;*/
/*}*/
/*table tr:nth-child(odd)*/
/*{*/
/*  background: #67ffee;*/
/*}*/
/*table tr:nth-child(even)*/
/*{*/
/*  background: #f8f8fa;*/
/*}*/

/*table thead, table tr {*/
/*    border-top-width: 15px;*/
/*    border-top-style: solid;*/
/*    border-top-color: #FFFFFF;*/
/*}*/
/*table {*/
/*    border-bottom-width: 15px;*/
/*    border-bottom-style: solid;*/
/*    border-bottom-color: #000000;*/
/*}*/

/*!* Padding and font style *!*/
/*table td, table th {*/
/*    padding: 10px 20px;*/
/*    font-size: 24px;*/
/*    font-family: "Playfair Display", serif;*/
/*    !*color: rgb(149, 170, 109);*!*/
/*}*/

/*!* Alternating background colors *!*/
/*table tr:nth-child(even) {*/
/*    background: #FFFFFF;*/
/*}*/
/*table tr:nth-child(odd) {*/
/*    background: #FFF;*/
/*}*/
/* Border styles */
table thead, table tr {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
}
table{
    margin: auto;
}
#tableH2{
    margin: auto;
}
/*table {*/
/*    border-bottom-width: 15px;*/
/*    border-bottom-color:#000000;*/
/*}*/
/* Padding and font style */
table td, table th {
    padding: 5px 10px;
    font-size: 28px;
    font-family: Verdana;
    background-color: #FFFFFF;
    color: #000000;
}
#table-3 td,#table-3 th {
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana;
    background-color: #FFFFFF;
    color: #000000;
}
#table-4 td,#table-4 th {
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana;
    background-color: #FFFFFF;
    color: #000000;
}
#table-2 td,#table-2 th {
    padding: 5px 10px;
    font-size: 18px;
    font-family: Verdana;
    background-color: #FFFFFF;
    color: #000000;
}
/* Alternating background colors */
table tr:nth-child(even) {
    background: #ffffff;
}
table tr:nth-child(odd) {
    background: #FFF;
}
#searchImage{
    width: 100px;
    height: 125px;
}

