<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditAccountForm</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div id="Content">
    <div th:replace="common/top"></div>
<div id="Catalog">
    <div style="color: red" th:utext="${editMessage}"></div>
    <form action="/accounts/editions" method="post">
    <table id="table-3">
        <h3>User Information</h3>
        <tr>
            <td>User ID:</td>
            <td th:text="${myAccount?.getUsername()}"></td>
        </tr>
        <!--下面都删除了password的默认显示，因为已经加密不能再提醒了-->
        <tr>
            <td>New password:</td>
            <td><input type="text" name="password"/>
        </tr>
        <tr>
            <td>Repeat password:</td>
            <td><input type="text" name="repeatedPassword"/>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input type="text" name="role"/></td>
        </tr>
        <div th:replace="account/IncludeAccountField"></div>
    </table>
        <section class="instagram">
            <button>
                <div class="instagram-btn">
                    <h4 class="icon-itgr mb-0">
                        <i type="submit" class="ti-instagram"></i>Save Account Information
                        <br/>
                        <a style="color: #1c7430" class="ti-instagram" th:href="@{'/carts/orderlists/'+ ${myAccount?.getUsername()}}">My Orders</a>
                        <br/>
                        <a style="color: #1c7430" class="ti-instagram" href="/daily/selections">My DailyRecord</a>
                    </h4>
                </div>
            </button>
        </section>
<!--    <input type="submit" name="editAccount" value="Save Account Information"/>-->
</form>
<!--    <%&#45;&#45;	<stripes:link&#45;&#45;%>-->
<!--    <%&#45;&#45;	beanclass="org.mybatis.jpetstore.web.actions.OrderActionBean"&#45;&#45;%>-->
<!--    <%&#45;&#45;	event="listOrders">My Orders</stripes:link>&#45;&#45;%>-->
</div>
</div>
<div th:replace="common/bottom"></div>
</body>
</html>