<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.CartDao">
    <resultMap id="QueryCart" type="CartItem">
        <id property="itemId" column="itemid"></id>
        <result property="quantity" column="quantity"/>
        <association property="item" javaType="Item">
            <id property="itemId" column="itemid"></id>
            <result property="productId" column="productid"></result>
            <result property="listPrice" column="listprice"></result>
            <result property="unitCost" column="unitcost"></result>
            <result property="supplierId" column="supplier"></result>
            <result property="status" column="status"></result>
            <result property="attribute1" column="attr1"></result>
<!--            <result property="quantity" column="quantity"/>-->
            <association property="product" javaType="Product">
                <id property="productId" column="productid"></id>
                <result property="categoryId" column="category"></result>
                <result property="name" column="name"></result>
                <result property="description" column="descn"></result>
            </association>
        </association>
    </resultMap>
    <select id="getCartByUsername" parameterType="String" resultMap="QueryCart">
        SELECT  i.itemid, i.productid, i.listprice, i.unitcost, i.supplier, i.status, i.attr1,c.quantity, p.productid, p.category, p.name, p.descn
            FROM cart c
                JOIN item i ON c.itemid=i.itemid
                JOIN product p ON i.productid=p.productid
                    WHERE c.userid = #{userid}
    </select>
    
    <update id="updateQuantity">
        UPDATE cart
            SET quantity = #{quantity}
                WHERE userid = #{username} AND itemid = #{itemId}
    </update>

    <delete id="deleteCartByUsernameAndItemid">
        DELETE FROM cart
            WHERE userid = #{userName} AND itemid = #{itemId}
    </delete>

    <insert id="addItemToCart">
        INSERT INTO cart (userid, itemid, quantity)
            VALUES (#{userName}, #{itemId}, #{quantity})
    </insert>

    <select id="selectCartItemByUsernameAndItemid" resultMap="QueryCart">
        SELECT  i.itemid, i.productid, i.listprice, i.unitcost, i.supplier, i.status, i.attr1,c.quantity, p.productid, p.category, p.name, p.descn
            FROM cart c
                JOIN item i ON c.itemid=i.itemid
                JOIN product p ON i.productid=p.productid
                    WHERE c.userid = #{userName} AND c.itemid = #{itemId}
    </select>

    <delete id="deleteAllCartItemByUsername">
        DELETE FROM cart
            WHERE userid = #{userName}
    </delete>
</mapper>