<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ProductMapper">
    <select id="getProductListByCategory" parameterType="String" resultType="Product">
        select
            productid,
            category as categoryId,
            name,
            descn as description
        from product
        where category=#{categoryId}
    </select>

    <select id="getProduct" parameterType="String" resultType="Product">
        select
            productid,
            name,
            descn as description,
            category as categoryid
        from product
        where productId=#{productId}
    </select>

    <select id="searchProductList" parameterType="String" resultType="Product">
        select
            productId,
            name,
            descn as description,
            category as categoryId
        from product
        where name like #{value}
    </select>
</mapper>